@import "tailwindcss";

@theme {
  --color-primary: #5a633a;
  --color-secondary: #f4f1e8;
  --color-tertiary: #3e432e;
  --color-neutral: #2c2c2c;

  --font-headline: var(--font-pretendard), var(--font-playfair), serif;
  --font-body: var(--font-pretendard), var(--font-work-sans), sans-serif;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-neutral);
  font-family: var(--font-body);
}
